.footer-root {
    margin: 0px 8px 0px 8px;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    padding-bottom: 100px;
    padding-top: 20px;
    font-size: 0.8em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.footer-icon {
    text-align: center;
}

.footer-content {
    line-height: 20px;
    color: #fff;
}

.footer-root a {
    text-decoration: none;
    color: #839a37;
}