.infoGame{
	position:fixed;
	padding-left:10px;
	color:#fff;
	z-index:1;
	width:70%;
	background-color:#212933;
	padding-top:15px;
	margin-top:-10px;
}
.btn_playNow{
	border-radius: 20px;
	background: linear-gradient(90deg,#22cab5,#3fe28f);
	color: #fff;
	padding: 10px 20px;
	font-size: 0.8em;
	white-space: nowrap;
	float:right;
	margin-right: 80px;
	border: 0px solid;
}
.nameGame{
	color: #fff;
	float: left;
	margin-left:15px;
	font-size: 18px;
}
.imgLogoGame{
	width: 40px;
	float: left;
}
.btn_playNow:hover{
	background: linear-gradient(90deg,#3bdecb,#64e8a4);
}

@media only screen and (min-width:1660px) and (max-width:1910px){
	.infoGame{
		width:70%;
	}
	.btn_playNow{
		margin-right: 60px;
	}
}

@media only screen and (min-width:1450px) and (max-width:1650px){
	.infoGame{
		width:80%;
	}
	.btn_playNow{
		margin-right: 60px;
	}
}

@media only screen and (min-width:1370px) and (max-width:1450px){
	.infoGame{
		width:90%;
	}
	.btn_playNow{
		margin-right: 60px;
	}
}

@media only screen and (max-width:1370px){
	.infoGame{
		width:95%;
	}
	.btn_playNow{
		margin-right: 45px;
	}
}

@media only screen and (min-width:1260px) and (max-width:1360px){
	.infoGame{
		width:100%;
	}
	.btn_playNow{
		margin-right: 60px;
	}
}

@media only screen and (min-width:1025px) and (max-width:1360px){
	.infoGame{
		width:100%;
	}
	.btn_playNow{
		margin-right: 25px;
	}
}


@media only screen and (max-width:1024px){
	.infoGame{
		width:100%;
	}
	.btn_playNow{
		margin-right: 30px;
	}
	.nameGame{
		font-size: 20px;
	}
	.imgLogoGame{
		width: 50px;
	}
}
 

@media only screen and (max-width:960px){
	.nameGame{
		font-size: 18px;
	}
	.imgLogoGame{
		width: 40px;
	}
}

@media only screen and (max-width:768px){
	.infoGame{
		padding-top:15px;
		margin-top:-20px;
	}
}

@media only screen and (max-width:667px){
	
}

@media only screen and (max-width:600px){
	
}

@media only screen and (max-width:375px){
	
}

@media only screen and (max-width:320px){
	
}