.error{
    width: 1280px;
    height: 740px;
}


@media only screen and (max-width:1280px){
	.error{
        width: 1280px;
        height: 740px;
    }

}

@media only screen and (max-width:1024px){
    .error{
        width: 990px;
        height: 740px;
    }
}
 

@media only screen and (max-width:960px){
    .error{
        width: 780px;
        height: 600px;
    }
}

@media only screen and (max-width:600px){
	.error{
        width: 340px;
        height: 220px;
    }
}

@media only screen and (max-width:320px){
	.error{
        width: 340px;
        height: 220px;
    }
}